<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        p{
            font-size: 30px;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}">
 </head>

 <body>
    <div class="full-page">
        <div class="navbar">
            <div>
              <a href="#" class="logo">!Ntɘrior Estate</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='/Home'>Home</a></li>  
                </ul>
            </nav>
        </div>
           {% if alart == 'y' %}
              <center> <p style="color: red"> you have enter wrong id  password</p> </center>
            {% endif %}
          <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button'onclick='login()'class='toggle-btn'>Log In</button>
                    <button type='button'onclick='register()'class='toggle-btn'>Register</button>
                </div>
                <form id='login' class='input-group-login' action="/login_customer" method="post" autocomplete="off">
                    <input type='text'class='input-field'placeholder='Email Id' name="email" required >
		    <input type='password'class='input-field'placeholder='Enter Password' name="password" required>
		    <input type='checkbox'class='check-box'><span>Remember Password</span>
		    <button type='submit'class='submit-btn'>Log in</button>
		 </form>
		 <form id='register' class='input-group-register' action="/register" method="post" autocomplete="off">{{Message}}
		     <input type='text'class='input-field'placeholder='First Name' name="First_Name" required>
		     <input type='text'class='input-field'placeholder='Last Name ' name="Last_Name" required>
		     <input type='text'class='input-field'placeholder='Mobile no' name="Mobile" onblur="">
             <input type='text' class='input-field' placeholder='Email Id'  name="Email_Id" required>
		     <input type='password'class='input-field'placeholder='Enter Password' name="Password" required>
		     <input type='password'class='input-field'placeholder='Confirm Password'  required>
             <button type='submit'class='submit-btn'>Register</button>
		     <input type='checkbox'class='check-box'><span>I agree to the terms & conditions {{Message}}</span>
             </form>
            </div>
        </div>z
     </div> 
    <script>
        var x=document.getElementById('login');
		 var y=document.getElementById('register');
		 var z=document.getElementById('btn');
		 function register()
		 { 
			x.style.left='-400px';
			y.style.left='50px';
			z.style.left='110px';
		 }
		 function login()
		 { 
			x.style.left='50px';
			y.style.left='450px';
			z.style.left='0px';
		 }
	 </script>
  	<script>
        var modal = document.getElementById('login-form');
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }
        const mobile_number=document.getElementById('Mobile')
        mobile_number.addEventListener('keyup',function(){
              alert('only numbers allowend here ?')
        })
    </script>
 </body>
</html>
